# Python Egg Info Folders
*.egg-Info/

# PyCache Folders
__pycache__/

# Dist Folder
dist/

# Build Folder
build/

# Temporary Files
temp/

# Visual Studio Code Config
.vscode

# Compiled Python Modules
*.pyc

# ISO Files
*.iso

# Setup File
setup.py
