# Compiled Python Modules
*.pyc

# Python Egg Info Folder
*.egg-Info/

# PyCahce Folders
__pycache__/

# Dist Folder
dist/

# Build Folder
build/

# ISO Files
*.iso

# Visual Studio Code Config
.vscode

# Temporary Files
temp/

# Setup File
setup.py
